<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
			<title>MVC With BURGERS!</title>
	</head>
	<body>
		{{{body}}}
		<script 
	</body>
</html>